Questo è il sito della mia banca<br>
<hr>

Benvenuto {{{name}}}
<br>
<br>
<br>

<label for="username">UserName:</label>
<input type="text" id="username" name="username"><br><br>
<label for="password">Password:</label>
<input type="text" id="password" name="password"><br><br>
<button onclick="Login()">Effettua Login</button>
<hr>